<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>Predefined Global Functions</title>
</head>
<body>
    {{if gt .Score1 .Score2}}
        Score 1 is greater than Score 2
    {{end}}

    {{if lt .Score1 .Score2}}
        Score 2 is greater than Score 1
    {{end}}

    {{if eq .Score1 .Score2}}
        Score 1 and Score 2 are equal
    {{end}}

    {{if lt .Score2 10}}
        Score 2 is less than 10
    {{end}}
</body>
</html>